/* At some point we should combine this with style.css */

.results-page-body {
}

.results-page {
	position: relative;
}

.container {
	width: 95%;
	padding: 0px;
}

.no-result-msg {
	display: none;
}

.search-title-container {
	position: fixed;
	width: 100%;
	display: block;
	/*background-color: #272d2d; more of a grey*/
	background-color: #1d2f35;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 42px;
	z-index: 100;
	box-shadow: 0px 1px 0px #161e21;
}

.topbar-left {
	display: inline-block;
	width: 70%;
}

.search-title {
	height: 25px;
}

.block-icon {
	display : inline-block;
	position: absolute;
	font-size: 130%;
	top: 12px;
} 

.small-logo {
	height : 25px;
	margin-left: 10px;
	margin-right : 10px;
}

.sort-functions {
	line-height: 30px;
	vertical-align: bottom;
	height: 25px;
	width: 115px;
	padding-left: 0px;
	padding-right: 0px;
	float: right;
	font-weight: bold;
	font-size: 12px;
	position: relative;
}

.sort-functions div {
	margin-top: -23px;
	margin-bottom: 10px;
	z-index: 2000000;
	display: none;
	width: 135px;
	float: right;
}

.sort-functions ul li {
	display: block;
}

.sort-functions div ul {
	margin-top: 30px;
	background-color: white;
	list-style: none;
	z-index: 2000000;
	padding-bottom: 8px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.075) inset;
}

/* old button design
#sort-by-btn:hover + div, #sort-by-btn + div:hover {
	display: block;
}*/

#dropdown:hover + div, #dropdown + div:hover {
	display: block;
}

#low-high-btn {
	margin-right: 20px;
	font-size: 11px;
}

#dropdown img {
	height: 24%;
	position: absolute;
	margin-top: 12px;
}

#dropdown-hover {
	display: none;
}

a:hover #dropdown-hover {
	display: inline-block;
}

hr {
	margin: 0px;
	border-color: #e2e2e2;
	width: 110%;
}

/* old sort by button design
#sort-by-btn {
	font-size: 11px;
	vertical-align: bottom;
	font-weight: bold;
}*/

.results-collection {
	width: 100%;
	display: block;
	margin-top: 63px;
	margin-left: auto;
	margin-right: auto;
}

.movie-result {
	display: inline-block;
	height: 270px;
	margin-bottom: 10px;
	width: 550px;
	overflow-y: hidden;
	position: relative;
	background-color: white;
	padding: 10px;
	box-shadow: 0px 1px 2px #d6d6d6;
}

.movie-result a {
	color: #424242;
}

.movie-result a:hover {
	color: #424242;
}

.movie-result a:hover .movie-name, .movie-result a:hover .movie-year {
	color: #7ac094;
}

.parity-0 {
	margin-right: 10px;
}

.movie-thumbnail {
	display: inline-block;
	height: 100%;
	border: none;
	clear: none;
	max-width: 33%;
}

.play-button img {
	margin-left: 37px;
	margin-top: 75px;
	opacity: 1;
}

.play-button {
	position: absolute;
	background-color: black;
	opacity: 0.9;
	z-index: 1;
	width: 175px;
	height: 250px;
	left: 10px;
	top: 10px;
	display: none;
}

a:hover .play-button {
	display: inline-block;
}

.movie-info {
	display: inline-block;
	height: 100%;
	z-index: 10000;
	clear: none;
	vertical-align: top;
	width: 66%;
}

.movie-title {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 5px;
	vertical-align: bottom;
	margin-left: 10px;
}

.movie-name {
	display: inline;
	margin-top: 0px;
	color: #008961;
	margin-bottom: 0px;
	font-size: 20px;
}

.movie-year {
	display: inline;
	margin-top: 4px;
	margin-left: 10px;
	color: #008961;
	margin-bottom: 0px;
	font-size: 16px;
}

.rating-icon {
	display: inline-block;
	height: 30px;
	margin-left: 10px;
}

.rating-group {
	vertical-align: middle;
	margin-top: 0px;
}

.rating {
	display: inline-block;
	font-weight: 400;
}

.genre {
	display: inline-block;
	margin-left: 10px;
	margin-top: 6px;
	margin-bottom: 8px;
	color: #0F6B66;
}

.imdb-rating {
	background-image: url('../images/assets/imdb_star.png');
	/*background-size: 50px 47px; - original size*/
	background-size: 44px 42px;
	width: 44px;
	height: 42px;
	text-align: center;
	font-size: 12px;
	line-height: 44px;
	margin-left: 10px;
	margin-right: 5px;
}

.run-time {
	margin-left: 10px;
}

.family-rating {
	background-position: center center;
	width: 44px;
	height: 15px;
	background-repeat: no-repeat;
	position: relative;
	top: 3px;
	z-index: -1;
}

.people {
	color: #0F6B66;
	font-weight: 300;
}

.key-people {
	margin-left: 10px;
	display: block;
	font-weight: 400;
}

.plot {
	margin-left: 10px;
	margin-top: 10px;
}

.PG-13 {
	background-image: url('../images/assets/imdb_rating_pg13.png');
}

.PG {
	background-image: url('../images/assets/imdb_rating_pg.png');
}

.APPROVED {
	background-image: url('../images/assets/imdb_rating_approved.png');
}

.G {
	background-image: url('../images/assets/imdb_rating_g.png');
}

.NC-17 {
	background-image: url('../images/assets/imdb_rating_nc17.png');
}

.NR {
	background-image: url('../images/assets/imdb_rating_nr.png');
}

.R {
	background-image: url('../images/assets/imdb_rating_r.png');
}

.TV14 {
	background-image: url('../images/assets/imdb_rating_tv-14.png');
}

.TVG {
	background-image: url('../images/assets/imdb_rating_tv-g.png');
}

.TVMA{
	background-image: url('../images/assets/imdb_rating_tv-ma.png');
}

.TVPG {
	background-image: url('../images/assets/imdb_rating_tv-pg.png');
}

.TVY {
	background-image: url('../images/assets/imdb_rating_tv-y.png');
}

.TVY7 {
	background-image: url('../images/assets/imdb_rating_tv-y7.png');
}

.UR {
	background-image: url('../images/assets/imdb_rating_ur.png');
}

.X {
	background-image: url('../images/assets/imdb_rating_x.png');
}

