<div class="row" class="search-title-container">
	<div class="col-md-6">
		<a href="index.php"> <img class="small-logo" src="images/assets/logo.svg"> </a>
		<input type="text" class="form-control search-title" style="width:80%;" id="search-text">
		<a href="#" class="glyphicon glyphicon-search block-icon"></a>
	</div>

	<div class="col-md-4">
	</div>

	<div class="col-md-2 sort-functions">
		<!--<a href="#" class="glyphicon glyphicon-eye-open"></a>-->
		<a href="#" id="low-high-btn">high to low <i class="glyphicon glyphicon-sort" /></a>
		<a href="#" id="sort-by-btn">sort by <i class="glyphicon glyphicon-chevron-down" /></a>
		<div>
			<ul style="padding-left: 21px; padding-right: 21px;">
				<li> <a id="relevance" href="#"> Relevance </a> </li>
				<li> <a id="imdb-rating" href="#"> IMDb Rating </a> </li>
				<li> <a id="rt-rating" href="#"> RT Rating </a> </li>
				<li> <a id="netflix-rating" href="#"> Netflix Rating </a> </li>
				<li> <a id="netflix-release" href="#"> Netflix Release </a> </li>
				<li> <a id="date" href="#"> Date </a> </li>
			</ul>
		</div>
	</div>
</div>

<div class="movie-details">
	YOU ARE LOOKING AT <%= mName %>
</div>
